* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(185, 182, 182);
}

header .menu_sup {
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: 40px;
}
header .nome_sup {
    display: flex;
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 190px;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    
}
header div h1 {
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-weight: normal;
}

header div h2 {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 20px;
}
header div img {
    margin-top: 20px;
    width: 180px;
    border-radius: 110px;
    border:5px solid white;
    box-shadow: 0px 0px 17px rgb(30, 30, 30);
    z-index: 1;
}

section{
    display: flex;
    justify-content: center;
}
section .description {
    display: flex;
    width: 80%;
    height: auto;
    background-color: rgb(230, 230, 230);
    margin-top: 20px;
    align-items: center;
    box-sizing: border-box;
    padding:100px;
    padding-bottom: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(30, 30, 30);
    border-radius: 15px;
    flex-direction: column;
    
}
.icons{
    display: flex;
}
.text_desc h3 {
    font-weight: normal;
    margin-top: 30px;
}
.icons {
    
    display: flex;
    width: 300px;
    justify-content: space-between;
    
}
.icons a img{
    width: 40px;
    
}

.area_buttons{
    display: flex;
    margin-top: 30px;
    width: 350px;
    justify-content: space-between;

}
.area_buttons a{
    text-decoration: none;
    color: white;
}
.btn{
    display: flex;
    background-color: rgb(113, 164, 212);
    width: 160px;
    height: 30px;
    border:none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
a .btn:hover{
    border: 2px solid black;
    box-sizing: border-box;
}

/*

*/


.body_area{
    margin-top: 15px;
    
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_area h1{
    margin-top: 10px;
}

.area_tl {
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.a_middle{
    flex:1;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 5px;
}

.a_left{
    flex:5;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.a_right{
    flex:5;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.body_middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ball {
    background-color: rgb(113, 164, 212);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    
}

.line_one{
    background-color: rgb(113, 164, 212);
    width: 2px;
    height: 40px;
}
.line_two{
    background-color: rgb(113, 164, 212);
    width: 2px;
    height: 175px;
}

.box_left_1, .box_left_2, .box_right_1, .box_right_2{
    width: 80%;
    height: 200px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}
.box_left_1{
    margin-top: 16px;
    
}

.box_left_2{
    margin-top: 55px;
 
}

.box_right_1{
    margin-top: 75px;

}
.box_right_2{
    margin-top: 55px;

}

.box_title_left, .box_title_right{
    display: flex;
    background-color: rgb(95, 95, 95);
    padding-left: 15px;
    height: 30px;
    align-items: center;
    color:white;
}

.box_title_left {
    border-top-left-radius: 10px;
}

.box_title_right {
    border-top-right-radius: 10px;
}
.text_box {
    display: flex;
    padding:20px;
    box-sizing: border-box;
    text-align: center;
}